body {
  background: linear-gradient(
    90deg,
    #2a885b 16%,
    rgba(230, 237, 226, 1) 72%,
    rgba(247, 243, 232, 1) 100%
  );
  font-family: "Inter", sans-serif;
}
h1 {
  font-size: 36px;
  color: #000;
  text-align: center;
  font-weight: 800;
  margin-bottom: 30px;
}
.arrow_back {
  height: 50px;
}
.arrow_back:hover {
  transform: scale(105%);
}
main {
  justify-content: center;
}
/* HEADER */
header {
  border-radius: 20px;
  background-color: #2a885b;
  height: 100px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}
header img {
  height: 80px;
}
.basket_icon {
  height: 40px;
}
.basket_icon:hover {
  transform: scale(105%);
}
/* INDEX.HTML */
.kategori_grid {
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}
.logo_banner {
  position: relative;
  z-index: 1;
  height: 300px;
}
.banner_section {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

a {
  text-decoration: none;
}
.cards_title {
  font-size: 30px;
  position: relative;
  z-index: 1;
  text-align: center;
  color: #f7f3e8;
  background-color: #2a885b;
  padding: 10px;
  rotate: 5deg;
  align-self: center;
  border-radius: 10px;
  box-shadow: 2px 3px #000;
  width: fit-content;
  white-space: nowrap;
}
.cards_title:hover {
  rotate: 0deg;
}
/* PRODUKTLISTE.HTML */
.produktliste_grid {
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}
.produkt-card {
  width: 280px;
  height: 380px;
  border-radius: 15px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  align-items: flex-end;
  overflow: hidden;
  font-family: "Inter", sans-serif;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}
.produkt-content {
  position: relative;
  padding: 20px;
  width: 100%;
  z-index: 1;
}

.produkt-title {
  margin: 0 0 6px;
  font-size: 16px;
  text-decoration: none;
  font-weight: 400;
  color: #000;
  border-radius: 20px;
  width: fit-content;
  padding: 5px;
}

.produkt-pris {
  margin: 0 0 14px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 8px;
  padding-top: 8px;
  border-radius: 20px;
  border: 2px solid #000;
  background: rgba(30, 31, 32, 0.2);
  color: #000;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  width: fit-content;
}
.produkt-pris-ny {
  margin: 0 0 14px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 8px;
  padding-top: 8px;
  border-radius: 20px;
  border: 2px solid #000;
  background: rgba(204, 9, 9, 0.4);
  color: #000;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  width: fit-content;
}
.pris-produktliste {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.brand_sub {
  color: #000;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.produkt-badges {
  position: absolute;
  top: 12px;
  right: 12px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  z-index: 2;
}
.rabat-badge {
  border-radius: 20px;
  background: rgb(204, 9, 9);
  color: #f7f3e8;
  padding: 5px;
  width: fit-content;
}
.udsolgt-badge {
  border-radius: 20px;
  background: #000;
  color: #f7f3e8;
  padding: 5px;
  width: fit-content;
}

.filterknap {
  color: #000;
  background-color: #e6ede2;
  border-radius: 10px;
  border: none;
  font-family: "Inter";
  font-weight: 400;
  font-size: 20px;
  box-shadow: 2px 3px #000;
}
.filterknap:hover {
  transform: scale(105%);
}
.filterknap_section {
  display: flex;
  flex-direction: row;
  gap: 0.5%;
  margin-left: 10%;
}
/* PRODUKT.HTML */
.produkt_img {
  width: 200px;
}
.produkt_info {
  background-color: #f7f3e8;
  padding: 50px;
}
.add_to_cart {
  height: 30px;
}
.add_to_cart:hover {
  transform: scale(120%);
}

/* DESKTOP */
@media screen and (min-width: 800px) {
  /* HEADER */
  header {
    display: flex;
    flex-direction: row;
    gap: 75%;
    align-items: center;
  }
  .kategori_grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 50px;
    margin-left: 20%;
    margin-right: 20%;
  }
}
.produkt_grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1000px;
  margin: 0 auto;
  gap: 40px;
}

.produktliste_grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 50px;
  place-items: center;
  margin-top: 100px;
}

.gammel-pris {
  text-decoration: line-through;
  color: grey;
}

.ny-pris {
  font-weight: bold;
  color: red;
}
